.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5.5rem);
    width: 15rem;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--mantle);
    overflow-y: auto;
    transition: width 0.3s, background-color 0.6s, color 0.6s;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar::-webkit-scrollbar { /* Chrome, Safari, Opera */
  display: none;
}

#collapsible.collapsed > .sidebar {
    overflow: hidden;
    width: 0;
    transition: width 0.3s, background-color 0.6s, color 0.6s;
}

.sidebar h1 {
    padding: 0.3rem 1rem;
    margin: 0;
}

.sidebar-list {
    list-style: none;
    padding: 1rem;
    margin: 0;
    flex: 1;
}

.directory > .directory-name {
    cursor: pointer;
    font-weight: bold;
}

.sub-list {
    list-style: none;
    margin-left: 1rem;
    display: none;
}

.directory .sub-list.visible {
    display: block;
}

.sub-list li {
    cursor: pointer;
    text-shadow: 0 0 0px var(--text);
    margin-bottom: 5px;
    flex: 0;
}

.sub-list li:hover {
    text-shadow: 0 0 2px var(--text);
}
.sidebar-link {
    background: none;
    border: none;
    color: inherit;
    text-align: left;
    padding: 0;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
}
.sidebar-link:hover {
    text-decoration: underline;
}
.sidebar-padding {
    padding: 2rem;
}
